*{
  font-family: 'Handlee', cursive;
}
.mainContainer {
  display: flex;
  background-image: url("./utils/backgound.jpg");
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover; 
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info {
  text-align: center;
  color: rgb(58, 58, 58);
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #F4EBD0;
}

.inputButton{
  width: 100%;
  margin-top: 16px;
  padding: 8px;
  border-radius: 5px;
  border-color: gray;
}

.confirmations{
  background-color: #FFD700;
  margin-bottom: 16px;
  color: rgb(58, 58, 58);
  padding: 8px;
  border-radius: 5px;
}